<!-- wp:template-part {"slug":"header","theme":"rahbar","tagName":"header"} /-->
<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"var:preset|spacing|50","bottom":"var:preset|spacing|60"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="padding-top:var(--wp--preset--spacing--50);padding-bottom:var(--wp--preset--spacing--60)"><!-- wp:post-title {"level":1} /--><!-- wp:group {"layout":{"type":"flex"},"textColor":"muted","fontSize":"small"} --><div class="wp-block-group has-muted-color has-text-color has-small-font-size"><!-- wp:post-date /--><!-- wp:post-terms {"term":"category"} /--></div><!-- /wp:group --><!-- wp:post-featured-image {"align":"wide"} /--><!-- wp:post-content /--><!-- wp:post-terms {"term":"post_tag"} /--></main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","theme":"rahbar","tagName":"footer"} /-->
